.section-wrapper {
  margin: 20px 0;

  section {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.section-title {
  border-bottom: 2px solid @brand-green;

  > h4 {
    width: 160px;
    text-align: center;
    padding: 6px 15px;
    margin-bottom: 0;
    color: #fff;
    background-color: @brand-green;
  }
}

.news-list {
  margin-top: 15px;
}
